@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  src: url("firaCode.ttf") format("truetype");
}

a {
  color: #74c7ec;
}

a:visited {
  color: #b4befe;
}

body {
  font-family: 'Fira Code', monospace;
  background-color: #1e1e2e;
  color: #cdd6f4;
}

p {
  color: #cdd6f4;
  font-size:30px
}

button { 
  /* I didn't even know you could do this lmao That's actually super cool */
  background-color: rgb(129, 153, 127);
  border-radius: 12px;
  color: Violet;
}

h1 .subtext {
  font-size: 25px;
  color: #a6adc8;
}

.noBottomMargin {
  margin-bottom: 0;
}
